/* General styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.intro h1 {
  color: #170a6e;
  font-size: 2em;
  margin-bottom: 10px;
  text-align: center;
}

.intro h3 {
  color: #34495e;
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 20px;
}

.contenedorCatalogo,
.shopping {
  margin-top: 20px;

}

h3, h4 {
  margin: 0;
}

h3 {
  font-size: 1.5em;
  color: #2c3e50;
}

h4 {
  font-size: 1.2em;
  color: #328776;
}

/* Catalog styles */
.catalog {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 15px;
  margin-top: 20px;
}

.catalog div {
  background-color: #a0d5e3;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.catalog h3 {
  font-size: 1.1em;
  color: #34495e;
}

.catalog h4 {
  font-size: 1em;
  color: #34495e;
  margin-bottom: 10px;
}

.catalog button {
  background-color: #3498db;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.catalog button:hover {
  background-color: #2980b9;
}

/* Shopping cart styles */
.shopping h3 {
  font-size: 1.5em;
  color: #2c3e50;
  margin-bottom: 10px;
}

.productCartRender div {
  background-color: #cae1e7;
  ;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.total {
  font-size: 1.2em;
  color: #137863;
  text-align: right;
  margin-top: 20px;
}

/* Buttons styles */
button {
  background-color: #444abd;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2b82c0;
}

.buttonComprar{
  font-size: 25px;
  background-color: rgb(11, 215, 49);
}